.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textWrap {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  text-align: center;
}

ul {
  padding-left: 15px;
}

.images {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reactPng {
  padding-left: 10px;
}

.spanClick {
  cursor: pointer;
  color: #1a0dab;
}
